{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-dark bg-primary justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Free Shipping On All Over $35</a>
      </li>
      <a class="nav-link" href="#"><i class="far fa-shopping-bag"></i></a>
    </ul>
  </nav>
  <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container"> 
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="#" class="logo"><img src="{% static%}" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.junaidperfumes.com%2Fen%2Ftag%2FRose%2F&psig=AOvVaw2q10_w60Ies9W587m4uqlI&ust=1630772134869000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIDZ6uCZ4_ICFQAAAAAdAAAAABAR"></a>
        <ul class="navbar-nav ml-auto ">
          
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="#">New</a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="#">Catalog</a>
          </li>
          
           <li class="nav-item">
            <a class="nav-link" href="#">Fragrance Oils&Sprays</a>
          </li>
          
          <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
          
          
           </li>
    
      </div>
    </div>
  </nav>
