{% extends 'main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block content %}
<br>
<section>

<div class="banner_wrapper">
    <div class="banner">
        <input type="radio" name="xx">
        <input type="radio" name="xx" id="x1">
        <label></label>
        <div class="banner_box">
            <img src="{% static 'images/ss.jpg' %}">
               <h1></h1>
            </div>
        </div>

        <input type="radio" name="xx">
        <input type="radio" name="xx" id="x2">
        <label></label>
        <div class="banner_box">
            <img src="{% static 'images/download.jpg' %}">
        </div>

    </div>
</div>

</section>




<section class="arival" id="arrival">

    <h1 class="heading"> <span>OUR PICKS FOR YOU</span> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <div class="image">
                
                <img src="{% static 'images/rafa.png' %}">
            </div>
            <div class="info">
                <h3>Rafa-For Him & Her-50ml</h3>
<div class="subInfo">
    <strong class="price">$50.00 </strong>
    <a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
<div class="overlay">
<img src="{% static 'images/p.jpg' %}">
</div>
</div>

<div class="box">
<div class="image">
<img src="{% static 'images/gold.jpg' %}">
</div>
<div class="info">
<h3>Badiah Gold-For Her-100 ml</h3>
<div class="subInfo">
    <strong class="price">$65.00 </strong>
        <a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
<div class="overlay">
   <img src="{% static 'images/gold1.jpg' %}">
</div>
</div>

<div class="box">
<div class="image">
<img src="{% static 'images/Atlal1.jpg' %}">
</div>
<div class="info">
<h3>Atlal-For Him-100 ml</h3>
<div class="subInfo">
    <strong class="price"> $42.00 </strong>
    <a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
<div class="overlay"> 
<img src="{% static 'images/Atlal2.jpg' %}">
</div>
</div>

<div class="box">
    <div class="image">
        
        <img src="{% static 'images/musk.jpg' %}">
    </div>
    <div class="info">
        <h3>Musk Oil For Men - For Him - 100 ML</h3>
<div class="subInfo">
<strong class="price">$55.00 </strong>
<a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
<div class="overlay">
<img src="{% static 'images/Musk1.jpg' %}">
</div>
</div>

<div class="box">
    <div class="image">
        
        <img src="{% static 'images/thulooj.jpg' %}">
    </div>
    <div class="info">
        <h3>Thulooj - For Her - 100 Ml</h3>
<div class="subInfo">
<strong class="price">$35.00 </strong>
<a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
<div class="overlay">
<img src="{% static 'images/th.jpg' %}">
</div>
</div>

<div class="box">
    <div class="image">
        
        <img src="{% static 'images/MuskCollection.jpg' %}">
    </div>
    <div class="info">
        <h3>Musk Collection-For Him & Her-50ml</h3>
<div class="subInfo">
<strong class="price">$50.00 </strong>
<a href="#"><button class="btn">Add To Cart</button></a>
</div>
</div>
</div>
</section>

<section class="arrival" id="arrival">

    <h1 class="heading"> <span>ENHANCE YOUR SENSES</span> </h1>
    
    <div class="box-container">
    <div class="box">
        <div class="image">
            
            <img src="{% static 'images/R.jpg' %}">
        </div>
        <div class="overlay">
            <a href="#"><button class="btn">FRAGRANCE SPRAYS</button></a>
            </div>
    </div>

    <div class="box">
                <div class="image">
                    
                    <img src="{% static 'images/OIP.jpg' %}">
                </div>
                <div class="overlay">
                    <a href="#"><button class="btn">FRAGRANCE OILS</button></a>
                    </div>
    </div>
            
            <div class="box">
                    <div class="image">
                            
                            <img src="{% static 'images/baiaa.jpg' %}">
                        </div>
                        <div class="overlay">
                            <a href="#"><button class="btn">GEL AND CREAMS</button></a>
                          </div>
             </div>  
             
               
             <div class="box">
                <div class="image">
                        
                        <img src="{% static 'images/sample.jpg' %}">
                    </div>
                    <div class="overlay">
                        <a href="#"><button class="btn">NEW</button></a>
                      </div>
         </div>
    </div>
</section>


<section class="deal" id="deal">

    
    <div class="box-container">
    
        <div class="box">
            <img src="{% static 'images/ihsaas.jpg' %}">
            <div class="content">
                <h3>OUR SEASONAL FRAGRANCE</h3>
                <p>See our recommendations for the season</p>
                <a href="#"><button class="btn">SHOP NOW</button></a>
            </div>
        </div>
    
        <div class="box">
            <img src="{% static 'images/b.jpg' %}">
            <div class="content">
                <h3>BAKHOOR AND MAMOOL</h3>
                <p>Explore Fragrance Arabia collection of<br> home incense and bakhoor</p>
                <a href="#"><button class="btn">OUR INCENSE & BAKHOORS</button></a>
            </div>
        </div>
    
    </div>
    
    <div class="row">
    
        <div class="box-container">
    
            <div class="box">
                <img src="{% static 'images/u.jpg' %}">
                <div class="content">
                    <h3>GIFT SETS</h3>
                    <p>Gift your loved ones with something<br> new and different</p>
                    <a href="#"><button class="btn">SHOP NOW</button></a>
                </div>
            </div>
        </div>

</section>

<p>If we were to define Fragrance Arabia in two words, it would be Sophisticated & Alluring.<br>
    We began our journey in 2019 by partnering with one of the oldest Arabian Fragrance Houses <br>
    Junaid Perfumes. Established in 1910, Junaid has been one of the leading innovators in the <br>
    field of perfumery.</p>


    {% endblock content %}

    